.column__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    &--space-between {
        justify-content: space-between;
    }

    &--1-12 {
        @include minimum-for('small-tablet') {
            padding-left: 8.25%;
            padding-right: 8.25%;
        }
    }

    &--skip-heading {
        &_1 {
            margin-top: 24px;
            margin-bottom: 24px;

            @include minimum-for('small-tablet') {
                margin-top: 32px;
                margin-bottom: 32px;
            }

            @include minimum-for('small-tablet') {
                margin-top: 48px;
                margin-bottom: 48px;
            }
        }

        &_2 {
            margin-top: 32px;
            margin-bottom: 32px;
        }
    }
}

.column {
    width: 100%;

    @include minimum-for('small-tablet') {
        &--left-aligned {
            margin-right: 4%;
            text-align: left;
        }

        &--center-aligned {
            margin-left: auto;
            margin-right: auto;
            text-align: center;
        }

        &--right-aligned {
            margin-left: 4%;
            text-align: right;
        }
    }

    @include minimum-for('mobile') {
        &--3-12 {
            width: 48%;
        }
    }

    @include minimum-for('small-tablet') {
        &--2-12 { width: 16.67% }
        &--4-12 { width: 32.3333% }
        &--5-12,
        &--6-12,
        &--7-12 { width: 48% }
        &--8-12 { width: 66.6666% }
    }

    @include minimum-for('tablet') {
        &--3-12 { width: 23.08% }
        &--5-12 { width: 42.75% }
        &--7-12 { width: 59.83% }
    }
}
