.our-address {
    margin-left: 0;
    padding: 0;
    padding-left: 32px;
    list-style-type: none;
    background-image: url('./location.png');
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 24px;

    &--wide {
        @include minimum-for('small-tablet') {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding-left: 48px;
            font-size: 23px;
            background-size: 32px;
        }

        @include minimum-for('desktop') {
            padding-left: 72px;
            font-size: 27px;
            background-size: 40px;
        }
    }
}