.button-base {
    display: inline-block;
    padding: 12px;
    color: $c-text-on-primary;
    font-family: inherit;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.25;
    text-decoration: none;
    background-color: $c-primary--dark;
    border: none;
    border-radius: 3px;
    outline: none;
    transition: 0.2s background-color ease;
    cursor: pointer;

    &:hover {
        background-color: $c-primary;
    }
}
