@font-face {
    font-display: swap;
    font-family: 'Gilroy';
    font-weight: normal;
    font-style: normal;

    src: url('/fonts/Gilroy/Gilroy-Regular.eot');
    src: url('/fonts/Gilroy/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Gilroy/Gilroy-Regular.woff2') format('woff2'),
        url('/fonts/Gilroy/Gilroy-Regular.woff') format('woff'),
        url('/fonts/Gilroy/Gilroy-Regular.ttf') format('truetype'),
        url('/fonts/Gilroy/Gilroy-Regular.svg') format('svg');
}

@font-face {
    font-display: swap;
    font-family: 'Gilroy';
    font-weight: normal;
    font-style: italic;

    src: url('/fonts/Gilroy/Gilroy-RegularItalic.eot');
    src: url('/fonts/Gilroy/Gilroy-RegularItalic.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Gilroy/Gilroy-RegularItalic.woff2') format('woff2'),
        url('/fonts/Gilroy/Gilroy-RegularItalic.woff') format('woff'),
        url('/fonts/Gilroy/Gilroy-RegularItalic.ttf') format('truetype'),
        url('/fonts/Gilroy/Gilroy-RegularItalic.svg') format('svg');
}

@font-face {
    font-display: swap;
    font-family: 'Gilroy';
    font-weight: 500;
    font-style: normal;

    src: url('/fonts/Gilroy/Gilroy-Medium.eot');
    src: url('/fonts/Gilroy/Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Gilroy/Gilroy-Medium.woff2') format('woff2'),
        url('/fonts/Gilroy/Gilroy-Medium.woff') format('woff'),
        url('/fonts/Gilroy/Gilroy-Medium.ttf') format('truetype'),
        url('/fonts/Gilroy/Gilroy-Medium.svg') format('svg');
}

@font-face {
    font-display: swap;
    font-family: 'Gilroy';
    font-weight: 500;
    font-style: italic;

    src: url('/fonts/Gilroy/Gilroy-MediumItalic.eot');
    src: url('/fonts/Gilroy/Gilroy-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Gilroy/Gilroy-MediumItalic.woff2') format('woff2'),
        url('/fonts/Gilroy/Gilroy-MediumItalic.woff') format('woff'),
        url('/fonts/Gilroy/Gilroy-MediumItalic.ttf') format('truetype'),
        url('/fonts/Gilroy/Gilroy-MediumItalic.svg') format('svg');
}

@font-face {
    font-display: swap;
    font-family: 'Gilroy';
    font-weight: bold;
    font-style: normal;

    src: url('/fonts/Gilroy/Gilroy-Bold.eot');
    src: url('/fonts/Gilroy/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Gilroy/Gilroy-Bold.woff2') format('woff2'),
        url('/fonts/Gilroy/Gilroy-Bold.woff') format('woff'),
        url('/fonts/Gilroy/Gilroy-Bold.ttf') format('truetype'),
        url('/fonts/Gilroy/Gilroy-Bold.svg') format('svg');
}

@font-face {
    font-display: swap;
    font-family: 'Gilroy';
    font-weight: bold;
    font-style: italic;

    src: url('/fonts/Gilroy/Gilroy-BoldItalic.eot');
    src: url('/fonts/Gilroy/Gilroy-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Gilroy/Gilroy-BoldItalic.woff2') format('woff2'),
        url('/fonts/Gilroy/Gilroy-BoldItalic.woff') format('woff'),
        url('/fonts/Gilroy/Gilroy-BoldItalic.ttf') format('truetype'),
        url('/fonts/Gilroy/Gilroy-BoldItalic.svg') format('svg');
}
