$sans-serif: 'Gilroy', 'Arial', sans-serif;
$serif: 'PT Serif', serif;

$c-text-on-secondary: #333;
$c-text-on-primary: #FFF;
$c-primary: #6ec656;
$c-primary-text: #486350;
$c-primary--dark: #528c3e;
$c-primary--light: #aedd3c;
$c-secondary: #f9fbf9;

// Минимальная и максимальная ширина различных устройств
$devices: (
    small-mobile: (max: 424px),
    mobile: (min: 425px, max: 630px),
    small-tablet: (min: 631px, max: 800px),
    tablet: (min: 801px, max: 1049px),
    desktop: (min: 1050px)
);

$menu: (
    header-height: 56px,
    background-color: #191919,
    color: #A6A6A6,
);
