.login-form {
    display: flex;
    justify-content: center;
    margin: 48px 0;
}

.login-form__content {
    padding: 40px 16px;
    color: #FFF;
    background-color: #574442;
    border-radius: 3px;
}
