.page-footer {
    padding: 12px 0;
    background-color: #0d6526;
}

.page-footer__brand-logo {
    .brand-logo__image {
        height: auto;
        margin-top: 16px;
    }
}

.page-footer__how-to {
    .how-to__list {
        color: $c-primary--light;
    }
}

.page-footer__contact-phones,
.page-footer__our-address {
    color: #FFF;
    font-size: 18px;
    filter: contrast(1);
}

.page-footer__copyrights {
    color: #FFF;

    @include minimum-for('small-tablet') {
        margin-top: 24px;
    }
}

.page-footer__how-to,
.page-footer__our-team {
    @include maximum-for('mobile') {
        display: none;
    }
}
