.our-contacts__content {
    align-items: flex-end;
}

.our-contacts__contact {
    margin-left: 0;
    padding: 0;
    padding-left: 32px;
    font-size: 19px;
    font-weight: 300;
    list-style-type: none;
}

.our-contacts__write-us {
    @include only-for('small-tablet') {
        width: 48%;
    }
}
