.heading {
    font-family: $serif;
    font-weight: 900;
    line-height: 1.15;

    &--1 {
        margin-top: 2%;
        margin-bottom: 2%;
        padding-top: 24px;
        padding-bottom: 24px;
        font-size: 30px;
        text-align: center;

        @include minimum-for('small-tablet') { font-size: 40px; }
        @include minimum-for('desktop') { font-size: 50px; }
    }

    &--2 {
        margin-top: 1.8%;
        margin-bottom: 1.8%;
        font-size: 25px;

        @include minimum-for('small-tablet') { font-size: 32px; }
        @include minimum-for('desktop') { font-size: 38px; }
    }

    &--3 {
        margin-top: 1.5%;
        margin-bottom: 1.5%;
        font-size: 20px;

        @include minimum-for('desktop') { font-size: 23px; }
    }
}

.heading__accent {
    color: $c-primary--light;
}
