@import '~assets/scss/fonts.scss';
@import '~components/column/column.scss';

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    position: relative;
    font-family: $sans-serif;
    scroll-behavior: smooth;
}

p {
    margin: 12px 0;
    padding: 0;
}

[hidden] {
    display: none;
}
